<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.text_field :sender_id, id: :transaction_sender_id %>
  </div>

  <div class="field">
    <%= form.label :recipient_id %>
    <%= form.text_field :recipient_id, id: :transaction_recipient_id %>
  </div>

  <div class="field">
    <%= form.label :chain_hash %>
    <%= form.text_field :chain_hash, id: :transaction_chain_hash %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
